<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>크롤링 테스트</title>
    </head>
    <body>
        <h1>크롤링 테스트</h1>
        <% if (data && data.length > 0) { %>
        <ul>
            <% data.forEach(function(event) { %>
            <li>
                <h2><%= event.title %></h2>
                <p>Company: <%= event.company %></p>
                <p>Start Date: <%= event.con_start_date %></p>
                <p>End Date: <%= event.con_end_date %></p>
                <p>HashTags: <%= event.hashTag.join(', ') %></p>
                <img src="<%= event.imgSrc %>" alt="Base64 Image" style="height: 200px; width: auto;"></img>
            </li>
            <% }); %>
        </ul>
        <% } else { %>
        <p>No events found</p>
        <% } %>
    </body>
</html>
