<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../../common/head.ejs', {title: '내가 찜한 행사' }) %>
        <link
            rel="stylesheet"
            href="/static/css/pages/myPage/managerAside.css"
        />
        <link rel="stylesheet" href="/static/css/pages/myPage/conHandler.css" />
        <link rel="stylesheet" href="/static/css/pages/myPage/myRevList.css" />

        <style>
            /* .myContent {
                position: relative;
            } */
            /* .favCard {
                width: 300px;
                margin: 0 auto;
            } */
            .card-title {
                color: var(--color-black);
            }

            img {
                width: 100px;
                height: 100px;
                border-radius: 5%;
            }

            td {
                vertical-align: middle;
            }
        </style>
    </head>

    <body>
        <%- include('../../common/header.ejs') %>

        <main>
            <%- include('./profileAside', { id: data.id }) %>

            <div class="cardCenter content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 marginRemove">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table text-center">
                                        <thead>
                                            <tr class="border-bottom">
                                                <th class="">행사</th>
                                                <th class="un">정보</th>
                                                <th class=""></th>
                                                <th class=""></th>
                                            </tr>
                                        </thead>
                                        <tbody id="myFavoriteList"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container myContent content">
                <div class="row" id="myFavoriteList"></div>
            </div>
        </main>

        <%- include('../../common/footer.ejs') %>
        <script>
            // 내가 찜한 행사 보기
            function myFavoriteList(userId) {
                axios({
                    method: 'GET',
                    url: '/myPage/myFavoriteList',
                    params: {
                        userId: userId,
                    },
                }).then((res) => {
                    if (res.status === 200) {
                        const myFavoriteList = res.data.getFavorites;
                        const favoritesLength = res.data.favoriteLengths;
                        if (
                            Array.isArray(myFavoriteList) &&
                            myFavoriteList.length > 0
                        ) {
                            const currentDate = new Date();
                            const myFavoriteListContainer =
                                document.getElementById('myFavoriteList');
                            myFavoriteListContainer.innerHTML = '';

                            for (let i = 0; i < myFavoriteList.length; i++) {
                                const favoriteElement =
                                    document.createElement('tr');

                                favoriteElement.classList.add('border-bottom');
                                index = 0;

                                const endDate = new Date(
                                    myFavoriteList[i].con_end_date
                                );

                                if (currentDate > endDate) {
                                    favoriteElement.innerHTML = `

                                        <td><a href="/event/${myFavoriteList[i].con_id}">
                                                <img src="${myFavoriteList[i].con_image}" class="card-img-top un-mobile" alt="행사 사진" />
                                                <h5 class="card-title">${myFavoriteList[i].con_title}</h5>
                                            </a>
                                        </td>
                                        <td class="un">
                                                <p class="card-text">
                                                    ${favoritesLength[i]}명이 관심을 가졌던 행사가
                                                    ${myFavoriteList[i].con_end_date}에 종료되었습니다.
                                                </p>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-danger" onclick="deletefavorite(${myFavoriteList[i].con_id})">찜 삭제</button></td>
                                        <td><button type="button" class="btn btn-outline-primary" id="reviewButton"><a href="/review/write">리뷰 쓰기</a></button></td>
                                  

                                    `;
                                } else {
                                    favoriteElement.innerHTML = `
                                    <td><a href="/event/${myFavoriteList[i].con_id}">
                                                <img src="${myFavoriteList[i].con_image}" class="card-img-top un-mobile" alt="행사 사진" />
                                                <h5 class="card-title">${myFavoriteList[i].con_title}</h5>
                                            </a>
                                        </td>
                                        <td class="un">
                                            <p class="card-text">
                                                    ${favoritesLength[i]}명이 관심을 가진 행사가
                                                    ${myFavoriteList[i].con_start_date}에 시작됩니다.
                                            </p>
                                        </td>   
                                       
                                        <td colspan="2"> <button type="button" class="btn btn-outline-danger" onclick="deletefavorite(${myFavoriteList[i].con_id})">찜 삭제</button></td>          
                                        <td></td>       

                                        
                                    `;
                                }

                                myFavoriteListContainer.appendChild(
                                    favoriteElement
                                );
                            }
                        } else {
                            const myFavoriteListContainer =
                                document.getElementById('myFavoriteList');
                            myFavoriteListContainer.innerHTML =
                                '찜한 행사가 없습니다.';
                        }
                    } else {
                        console.log('error');
                    }
                });
            }

            window.onload = function () {
                const userId = `<%= data.id %>`;
                myFavoriteList(userId);
            };

            // 찜한 행사 삭제
            function deletefavorite(conId) {
                axios({
                    method: 'delete',
                    url: '/manager/deleteMyFavorite',
                    data: {
                        con_id: conId,
                    },
                }).then((res) => {
                    if (res.data === true) {
                        alert('찜 리스트에서 삭제되었습니다.');
                        window.location.reload();
                    } else {
                        alert('이미 삭제하였거나 삭제할 수 없습니다.');
                        window.location.reload();
                    }
                });
            }
            function writeReview(conId) {
                axios({
                    method: 'GET',
                    url: '/myPage/writeReview',
                    params: {
                        conId: conId,
                    },
                }).then((res) => {
                    if (res.status === 200) {
                        document.documentElement.innerHTML = res.data;
                    }
                });
            }
        </script>
    </body>
</html>
