<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../../common/head.ejs', {title: '프로필' }) %>
        <link rel="stylesheet" href="/static/css/review.css" />
        <script defer src="/static/js/review.js"></script>
    </head>

    <body>
        <%- include('../../common/header.ejs') %>
        <h1>마이 페이지</h1>
            <button type="button" onclick="myProfileUpdate(`<%=data.userId%>`)">회원정보 수정 페이지</button>
            <button type="button" onclick="myreviewListRender(`<%= data.userId%>`)">내가 쓴 리뷰 보기</button>
            <div id="myreviewList">
                <!-- myrivew리스트를 여기에 동적으로 추가 -->
            </div>
            <button type="button" onclick="myFavoriteList(`<%= data.id%>`)">찜한 행사 목록 보기</button>
            <div id="myFavoriteList">
                <!-- myFavorite리스트를 여기에 동적으로 추가 -->
            </div>
        </form>
        <%- include('../../common/footer.ejs') %>
        <script>
            // profile update페이지 렌더
            function myProfileUpdate(userId) {
                axios({
                    method: 'POST', // POST 요청으로 변경
                    url: '/myPage/myProfile',
                    data: {
                        userId: userId,
                    }
                }).then((res) => {
                    if (res.status === 200) {
                        console.log("res data>>>>", res.data);
                    }
                });
            }
            // profile update페이지 렌더
            function myreviewListRender(userId) {
                axios({
                    method: 'GET',
                    url: `/myPage/myreviewListRender?userId=${userId}`,
                }).then((res) => {
                    if (res.status === 200) {
                        console.log("res data>>>>", res.data);
                        // window.location.href = '/myPage/myreviewListRender';
                    }
                });
            }
            // 매니저 페이지 조회
            function managerPage() {
                const form = document.forms['form_userUpdate'];
                axios({
                    method: 'POST',
                    url: '/manager',
                    data: {
                        userId: form.userId.value,
                        userPw: form.userPw.value,
                        userName: form.userName.value,
                        userAddr: form.userAddr.value,
                        userEmail: form.userEmail.value,
                        userCategory: form.userCategory.value,
                    },
                }).then((res) => {
                    if (res.data === true) {
                        document.location.href = "/manager";
                    } else {
                        alert('관리자가 아닙니다!') 
                        document.location.href = "/";
                    }
                })
            };
            // 로그아웃
            function logout() {
                const form = document.forms['form_userUpdate'];
                axios({
                    method: 'POST',
                    url: '/logout',
                    data: {
                        userId: form.userId.value,
                        userPw: form.userPw.value,
                    },
                }).then((res) => {
                    if (res) {
                        alert('로그아웃 성공!');
                        document.location.href = "/";
                    }
                });
            };
            // 유저 탈퇴
            function deleteUserself(obj, userId) {
            if (!confirm('정말로 탈퇴하나요?')){
                return ;
            }
            axios ({
                method: 'delete',
                url: '/manager/deleteUserself',
                data: {
                    user_id: userId,
                },
            }).then ((res) => {
                if (res.data === true) {
                alert('회원 탈퇴 성공!');
                document.location.href = '/';
                } else {
                alert ('회원 탈퇴 실패');
                }
            });
            };
        </script>
    </body>
</html>
