<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../../common/head.ejs', {title: '리뷰 상세' }) %>
        <link rel="stylesheet" href="/static/css/pages/review/detail.css" />
    </head>

    <body>
        <%- include('../../common/header.ejs') %>
        <main>
            <div class="wrap">
                <section class="section">
                    <div class="my-editor">
                        <div class="event">
                            <p>리뷰 관련 행사</p>
                            <a href="/event/<%-review.con_id%>"><p><%- review.con_title %></p></a>
                        </div>
                        <div class="title">
                            <p>리뷰 제목</p>
                            <p><%- review.re_title %></p>
                        </div>
                        <div class="author">
                            <p>리뷰 작성자</p>
                            <p><%- review.user_id %></p>
                        </div>
                        <div class="content">
                            <p>리뷰 내용</p><br/>
                            <p><%- review.re_content %></p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%- include('../../common/footer.ejs') %>
    </body>
</html>
