<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../../common/head.ejs', {title: '리뷰 리스트' }) %>
        <link rel="stylesheet" href="/static/css/pages/review/list.css" />
</head>

<body>
    <%- include('../../common/header.ejs') %>
        <main>
            <div class="wrap py-5">
                <div class="table_scroll">
                    <table class="table table-hover">
                        <colgroup>
                            <col width="60px" />
                            <col />
                            <col width="80px" />
                            <col width="60px" />
                            <col width="120px" />
                        </colgroup>
                        <thead>
                            <tr class="border-bottom">
                                <th scope="col"></th>
                                <th scope="col" class="text-center">제목</th>
                                <th scope="col" class="text-center">작성일</th>
                                <th scope="col" class="text-center">조회</th>
                                <th scope="col" class="text-center">작성자</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(result){ %>
                                <% result.forEach((val, i)=> { %>
                                    <tr class="border-bottom">
                                        <th scope="row" class="text-center">
                                            <%= val.re_id %>
                                        </th>
                                        <td>
                                            <a class="link" href="/review/<%= Number(val.re_id) %>">
                                                <span class="con_title">
                                                    [ <%= val.con_title %> ]
                                                </span>
                                                <span class="link_url">
                                                    <%= val.re_title %>
                                                </span>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <%= val.re_date.split(' ')[0] %>
                                </td>
                                <td class="text-center"><%= val.re_count %></td>
                                <td class="text-center"><%= val.user_id %></td>
                            </tr>
                            <% }) %> <% }else{ %>
                            <tr>
                                <td>현재 등록된 리뷰가 없습니다.</td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="review-write">
                    <a href="review/write">리뷰 쓰기</a>
                </div>

                <div class="pagination-bar">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    href="?page=1"
                                    aria-label="Previous"
                                >
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% if (startPage> 1) { %>
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    href="?page=<%= currentPage - 1 %>"
                                    aria-label="Previous"
                                >
                                    <span aria-hidden="true">&lsaquo;</span>
                                </a>
                            </li>
                            <% } %> <% for (let i=startPage; i <=endPage; i++) {
                            %>
                            <li
                                class="page-item <%= i === Number(currentPage) ? ' active' : '' %>"
                                                >
                                                <a class="page-link" href="?page=<%= i %>">
                                                    <%= i %>
                                                </a>
                                                </li>
                                                <% } %>
                                                    <% if (endPage < totalPages) { %>
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page=<%= endPage + 1 %>"
                                                                aria-label="Next">
                                                                <span aria-hidden="true">&rsaquo;</span>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page=<%= totalPages %>"
                                                                    aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                            </ul>
                                                            </nav>
                </div>
            </div>
        </main>
        <%- include('../../common/footer.ejs') %>
</body>

</html>