<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../../common/head.ejs', {title: '리뷰 리스트' }) %>
        <link rel="stylesheet" href="/static/css/pages/review/list.css" />
    </head>

    <body>
        <%- include('../../common/header.ejs') %>
        <main>
            <div class="wrap">
                <table class="table table-hover">
                    <colgroup>
                        <col width="60px" />
                        <col />
                        <col width="110px" />
                        <col width="60px" />
                        <col width="120px" />
                    </colgroup>
                    <thead>
                        <tr class="border-bottom">
                            <th scope="col"></th>
                            <th scope="col" class="text-center">제목</th>
                            <th scope="col" class="text-center">작성일</th>
                            <th scope="col" class="text-center">조회</th>
                            <th scope="col" class="text-center">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(result){ %> <% result.forEach((val, i)=> { %>
                        <tr class="border-bottom">
                            <th scope="row" class="text-center">
                                <%= val.re_id %>
                            </th>
                            <td>
                                <a href="/review/<%= Number(val.re_id) %>">
                                    <%= val.re_title %>
                                </a>
                            </td>
                            <td class="text-center">
                                <% const originalDate=new Date(val.re_date);
                                const currentDate=new Date(); const
                                year=originalDate.getFullYear().toString().slice(-2);
                                const month=(originalDate.getMonth() +
                                1).toString().padStart(2, '0' ); const
                                day=originalDate.getDate().toString().padStart(2,
                                '0' ); const
                                hours=originalDate.getHours().toString().padStart(2,
                                '0' ); const
                                minutes=originalDate.getMinutes().toString().padStart(2,
                                '0' ); %> <% if(
                                originalDate.getDate()===currentDate.getDate()
                                &&
                                originalDate.getMonth()===currentDate.getMonth()
                                &&
                                originalDate.getFullYear()===currentDate.getFullYear())
                                { %> <%= `${hours}:${minutes}` %> <% }else{ %>
                                <%= `${year}.${month}.${day}` %> <% } %>
                            </td>
                            <td class="text-center"><%= val.re_count %></td>
                            <td class="text-center"><%= val.user_id %></td>
                        </tr>
                        <% }) %> <% }else{ %>
                        <tr>
                            <td>현재 등록된 리뷰가 없습니다.</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% const limit = 5; // 현재 보여줄 리뷰 수 %> <% const
                totalPages = Math.ceil(count / limit); %>
                <div class="pagination-bar">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    href="#"
                                    aria-label="Previous"
                                >
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= i %>"
                                    ><%= i %></a
                                >
                            </li>
                            <% } %>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <%- include('../../common/footer.ejs') %>
    </body>
</html>
