<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../../common/head.ejs', {title: conference.con_title }) %>
        <!-- Font Awesome 라이브러리 추가 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <!-- 카카오맵 api 및 마커라이브러리 -->
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6f19fc94da41af704131c0bd9ae48f87&libraries=services"></script>
        <link defer rel="stylesheet" href="/static/css/pages/event/detail.css" />
        <script defer src="/static/js/eventDetail.js"></script>
</head>

<body>
    <%- include('../../common/header.ejs') %>

        <main>
            <div class="wrap">
                <article class="article">
                    <section class="section">
                        <div class="top">
                            <div class="img-wrapper">
                                <img class="h-100 w-100" src="<%= conference.con_image %>" alt="행사 이미지">
                            </div>
                            <div class="aside">
                                <div class="con-wrap">
                                    <span class="title fs-5 mb-2">
                                        <%= conference.con_title %>
                                    </span>
                                    <div>
                                        <ul class="d-flex gap-3 align-items-center">
                                            <li style="color: rgb(240, 151, 123)">#<%= conference.is_onoff ? '온라인'
                                                    : '오프라인' %>
                                            </li>
                                            <li style="color: rgb(109, 198, 112)">#<%= conference.is_free ? '유료' : '무료'
                                                    %>
                                            </li>
                                            <li style="color: rgb(93, 147, 228)">#<%= conference.con_category %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-wrap">
                                <div class="menu-wrap border-bottom">
                                    <div class="btn-group w-100" role="group">
                                        <a href="#introduction" class="menu-btn">행사 소개</a>
                                        <a href="#location" class="menu-btn">행사 장소</a>
                                        <a href="#review" class="menu-btn">행사 리뷰</a>
                                        <a href="#inquiries" class="menu-btn">문의 하기</a>
                                    </div>
                                </div>
                                <div class="contents">
                                    <div id="#introduction" class="introduction">

                                        <%= conference.con_detail %>

                                    </div>
                                    <div style="height: 1800px">후</div>
                                </div>
                            </div>

                        </div>
                    </section>
                </article>
            </div>
        </main>
        <%- include('../../common/footer.ejs') %>

</body>

</html>