<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../../common/head.ejs', {title: '행사 글 작성' }) %>
        <!-- 달력 선택 API -->
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <!-- 카카오 우편 API -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

        <!-- 현재 페이지 js 및 css -->
        <script defer src="/static/js/eventWrite.js"></script>
        <link rel="stylesheet" href="/static/css/pages/event/write.css">
</head>

<body>
    <%- include('../../common/header.ejs') %>
        <main>
            <div class="wrap">
                <form NAME="register-conference">
                    <section class="py-5 border-bottom">
                        <h2 class="fw-bold fs-5 mb-5">행사 기본 정보</h2>
                        <div class="row mb-4">
                            <label for="conTitle" class="col-sm-2 col-form-label">행사 이름</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="conTitle" name="conTitle" />
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="conDetail" class="form-label">행사 상세 내용</label>
                            <textarea class="form-control" id="conDetail" name="conDetail" rows="3"></textarea>
                        </div>
                        <div class="row mb-4">
                            <label for="conCompany" class="col-sm-2 col-form-label">행사 주최</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="conCompany" name="conCompany" />
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="conCompanyUrl" class="col-md-2 col-form-label">행사 주최 URL</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="conCompanyUrl" name="conCompanyUrl" />
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="formFile" class="col-lg-2 col-form-label">행사 대표 이미지</label>
                            <div class="col-lg-10">
                                <input id="dynamic-file" class="form-control" type="file" id="formFile"
                                    name="conferenceFile" />
                            </div>
                        </div>

                        <div class="row">
                            <label for="conCategory" class="col-form-label col-md-2">
                                행사 카테고리
                            </label>
                            <div class="col-md-10">
                                <select class="form-select" id="conCategory" name="conCategory">
                                    <option selected value="">
                                        카테고리를 선택해주세요.
                                    </option>
                                    <option value="AI">AI</option>
                                    <option value="web">웹 개발</option>
                                    <option value="git">git</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 border-bottom">
                        <h2 class="fw-bold fs-5 mb-5">행사 시간</h2>

                        <div class="row mb-4">
                            <label for="subDate" class="col-lg-2 col-form-label">모집 기간</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control daterange" id="subDate" name="subDate"
                                    placeholder="날짜 입력" readonly />
                            </div>
                        </div>

                        <div class="row">
                            <label for="conDate" class="col-lg-2 col-form-label">행사 기간</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control daterange" id="conDate" name="conDate"
                                    placeholder="날짜 입력" readonly />
                            </div>
                        </div>
                    </section>
                    <section class="py-5 border-bottom">
                        <h2 class="fw-bold fs-5 mb-5">행사 장소</h2>

                        <div class="mb-4">
                            <%- include('../../common/components/conIsOnoffRadio', {checked: true}) %>
                        </div>

                        <div class="offline-option" style="display: none;">
                            <div class="row mb-4">
                                <label for="conLocation" class="col-md-2 col-form-label">지역</label>
                                <div class="col-md-4">
                                    <select id="conLocation" name="conLocation" class="form-select"
                                        aria-label="Default select example">
                                        <%- include('../../common/components/conLocationSelect', {checked: true}) %>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="postcode" placeholder="우편번호">
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-light" onclick="getPostcode()">우편번호 찾기</button>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="address" placeholder="주소"><br>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="detailAddress" placeholder="상세주소">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="extraAddress" placeholder="참고항목">
                                </div>
                            </div>
                        </div>


                    </section>
                    <section class="py-5">
                        <h2 class="fw-bold fs-5 mb-5">행사 가격 및 규모</h2>
                        <div class="mb-4">
                            <%- include('../../common/components/conIsFreeRadio', {checked: true}) %>
                        </div>
                        <div class="row mb-3">
                            <label for="conPeople" class="col-sm-2 col-form-label">규모</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="conPeople" name="conPeople" />
                            </div>
                        </div>
                        <div class="paid-option" style="display: none;">
                            <div class="row mb-3">
                                <label for="conPrice" class="col-sm-2 col-form-label">가격</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="conPrice" step="1000"
                                        name="conPrice" />
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="mb-5 text-end">
                        <button type="button" class="btn btn-primary" onclick="registerConference()">
                            행사 등록
                        </button>
                    </div>

                </form>
            </div>
        </main>
        <%- include('../../common/footer.ejs') %>
</body>

</html>