<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../../common/head.ejs', {title: '행사 글 작성' }) %>
        <!-- 달력 선택 API -->
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <!-- 카카오 우편 API -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

        <!-- 현재 페이지 js 및 css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.js"></script>

        <script type="module" src="/static/js/eventEditor.js"></script>
        <link rel="stylesheet" href="/static/css/pages/event/write.css">
</head>

<body>
    <%- include('../../common/header.ejs') %>
        <main>
            <div class="wrap">
                <div class="register-conference">
                    <section class="py-5 border-bottom">
                        <h2 class="fw-bold fs-5 mb-5">행사 기본 정보</h2>
                        <div class="row mb-4">
                            <label for="conTitle" class="col-sm-2 col-form-label">행사 이름</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="conTitle" name="conTitle" />
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="conCompany" class="col-sm-2 col-form-label">행사 주최</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="conCompany" name="conCompany" />
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="conCompanyUrl" class="col-md-2 col-form-label">행사 주최 URL</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="conCompanyUrl" name="conCompanyUrl" />
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="formFile" class="col-lg-2 col-form-label">행사 대표 이미지</label>
                            <div class="col-lg-10">
                                <input id="dynamic-file" class="form-control" type="file" id="formFile"
                                    name="conferenceFile" />
                            </div>
                        </div>

                        <div class="row">
                            <label for="conCategory" class="col-form-label col-md-2">
                                행사 카테고리
                            </label>
                            <div class="col-md-10">
                                <select class="form-select" id="conCategory" name="conCategory">
                                    <option selected value="">
                                        카테고리를 선택해주세요.
                                    </option>
                                    <option value="AI">AI</option>
                                    <option value="web">웹 개발</option>
                                    <option value="git">git</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 border-bottom">
                        <h2 class="fw-bold fs-5 mb-5">행사 시간</h2>

                        <div class="row mb-4">
                            <label for="subDate" class="col-lg-2 col-form-label">모집 기간</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control daterange" id="subDate" name="subDate"
                                    placeholder="날짜 입력" readonly />
                            </div>
                        </div>

                        <div class="row">
                            <label for="conDate" class="col-lg-2 col-form-label">행사 기간</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control daterange" id="conDate" name="conDate"
                                    placeholder="날짜 입력" readonly />
                            </div>
                        </div>
                    </section>
                    <section class="py-5 border-bottom">
                        <h2 class="fw-bold fs-5 mb-5">행사 장소</h2>

                        <div class="mb-4">
                            <%- include('../../common/components/conIsOnoffRadio', {checked: true}) %>
                        </div>

                        <div class="offline-option" style="display: none;">
                            <div class="row mb-4">
                                <label for="conLocation" class="col-md-2 col-form-label">지역</label>
                                <div class="col-md-4">
                                    <select id="conLocation" name="conLocation" class="form-select"
                                        aria-label="Default select example">
                                        <%- include('../../common/components/conLocationSelect', {checked: true}) %>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="postcode" id="postcode"
                                        placeholder="우편번호">
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-light" id="postCodeBtn">우편번호 찾기</button>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="address" id="address"
                                    placeholder="주소"><br>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="detailAddress" id="detailAddress"
                                        placeholder="상세주소">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="extraAddress" id="extraAddress"
                                        placeholder="참고항목">
                                </div>
                            </div>
                        </div>


                    </section>
                    <section class="py-5 border-bottom">
                        <h2 class="fw-bold fs-5 mb-5">행사 가격 및 규모</h2>
                        <div class="mb-4">
                            <%- include('../../common/components/conIsFreeRadio', {checked: true}) %>
                        </div>
                        <div class="row mb-3">
                            <label for="conPeople" class="col-sm-2 col-form-label">규모</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="conPeople" name="conPeople" />
                            </div>
                        </div>
                        <div class="paid-option" style="display: none;">
                            <div class="row mb-3">
                                <label for="conPrice" class="col-sm-2 col-form-label">가격</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="conPrice" step="1000"
                                        name="conPrice" />
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="my-5">
                        <h2 class="fw-bold fs-5 mb-5">행사 상세 내용</h2>
                        <div class="editor-wrap border rounded">
                            <div class="editor-toolbar m-0 p-2 border-bottom">
                                <div class="editor-toolbar__buttons">
                                    <ul>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="heading2">
                                                <i class="bi bi-type-h1"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="heading3">
                                                <i class="bi bi-type-h2"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="paragraph">
                                                <span>본문</span>
                                            </button>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="bold">
                                                <i class="bi bi-type-bold"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="italic">
                                                <i class="bi bi-type-italic"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="strike">
                                                <i class="bi bi-type-strikethrough"></i>
                                            </button>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="left">
                                                <i class="bi bi-text-left"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="center">
                                                <i class="bi bi-text-center"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="editor-toolbar__button" data-tiptap-button="right">
                                                <i class="bi bi-text-right"></i>
                                            </button>
                                        </li>
                                    </ul>

                                    <button class="editor-toolbar__button" data-tiptap-button="image">
                                        <i class="bi bi-card-image"></i>
                                    </button>
                                    <input type="file" id="fileInput" accept="image/*" name="userFile"
                                        style="display: none" multiple />
                                </div>
                            </div>


                            <div class="my-editor p-2" style="min-height: 400px;" data-tiptap-editor></div>

                            <form action="/upload/event" method="post" class="dropzone" id="fileUploadForm"
                                style="display: none">
                                <div class="fallback">
                                    <input type="file" name="conferenceFile" />
                                </div>
                            </form>
                        </div>
                    </section>
                    <div class="mb-5 text-end">
                        <button type="button" class="btn btn-primary" id="event-write">
                            행사 등록
                        </button>
                    </div>

                    </form>
                </div>
        </main>
        <%- include('../../common/footer.ejs') %>
</body>

</html>